<%- include('partials/header', { title }) %>
<p>Hola, mi nombre es <strong><%= nombre %></strong> y soy <strong><%= profesion %></strong>.</p>
<p><a href="/heroes">Volver al listado</a></p>
<%- include('partials/footer') %>